---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();
  
  const { data } = await storyblokApi.get("cdn/links", {
    version: "draft",
  });
  let links = data.links;
  links = Object.values(links);

  links = links.filter((link : any) => !link.slug.includes("/"));

  return links.map((link : any) => {
    return {
      params: { slug: link.slug },
    };
  });
}

const { slug } = Astro.params;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/${slug}`, {
  version: "draft",
});

const story = data.story;

let cookie = Astro.request;
console.log(Astro.cookies.get('test'))
Astro.cookies.set('test','herbert');


---


<p>Received a {Astro.request.method} request to "{Astro.request.url}".</p>
<p>Received request headers: <code>{JSON.stringify(Object.fromEntries(Astro.request.headers))}</code></p>
<StoryblokComponent blok={story.content} />